/* Styles */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.4s ease;
}

:root {
  --orange: #ef7f09;
  --orangev2: #e14d10;
  --white: #f5f5f5;
  --black: #111111;
  --grey: #252525;
  --clear-black: rgba(19, 19, 19, 0.95);
  --clear-white: rgba(244, 244, 244, 0.5);
  --clear-whitev2: rgba(244, 244, 244, 0.1);

  /* gradient */
  --gradient: linear-gradient(90deg, #ef7f09 0%, #e14d10 100%);
  --gradientv2: linear-gradient(0deg, #e14d10 0%, #ef7f09 100%);

  --clear-gradient: linear-gradient(90deg, rgba(239, 127, 9, 0.8) 0%, rgba(225, 77, 16, 0.8) 100%);
}

/************* GENERAL *************/

html {
  scroll-behavior: smooth;
  scrollbar-color: #ef800946 #16110e;
}

body {
  background-color: var(--black);
  color: var(--white);
  font-weight: 300;
  font-family: "Poppins", serif;
}

h1 {
  font-weight: 400;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

.content-background-pattern {
  background-image: url(../images/background-pattern.png),
    radial-gradient(circle,
      rgba(43, 23, 2, 1) 0%,
      rgba(25, 25, 25, 1) 100%);
  background-repeat: repeat, no-repeat;
  background-size: cover, cover;
  background-position: center, center;
  background-attachment: fixed, fixed;
  width: 100%;
  height: fit-content;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100dvh - 65px);
}

a {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style: none;
}

.w-fc {
  width: fit-content;
}

.w-100 {
  width: 100% !important;
}

.w-50 {
  width: 50% !important;
}

.pt-20 {
  padding-top: 20px !important;
}

.my-10 {
  margin: 10px 0;
}

.gap-30 {
  gap: 30px !important;
}

.gap-18 {
  gap: 18px !important;
}

.height-205 {
  height: 205px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: var(--clear-black);
  border-radius: 15px;
  padding: 30px;
}

/* buttons */

button {
  border: none;
  background-color: transparent;
}

/* gradient orange */

.gradient-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 0 22px;
  color: var(--black);
  cursor: pointer;
  background: var(--gradientv2);
  border-radius: 8px;
  height: 38px;
  box-shadow: inset 0 3px 6px rgba(255, 255, 255, 0.3), 0 -1px 3px rgb(0, 0, 0, 0.2);
  font-weight: 400;
  font-size: 16px;
}

/* 3d black */

.button-3d {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 8px;
  box-shadow: inset 0 0px 0px 0px rgba(255, 255, 255, 0.14), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.11), inset 0px 1px 4px 0px rgba(255, 255, 255, 0.4), inset 0px 2px 0px 0px rgba(0, 0, 0, 0.25);
  padding: 0 22px;
  height: 38px;
  background-color: var(--black);
  color: var(--white);
  cursor: pointer;
  font-size: 16px;
}

/* delete button */

.delete-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  box-shadow: inset 0 0px 0px 0px rgba(255, 255, 255, 0.14), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.11), inset 0px 1px 4px 0px rgba(255, 255, 255, 0.4), inset 0px 2px 0px 0px rgba(0, 0, 0, 0.25);
  padding: 0 22px;
  height: 38px;
  background-color: #bf502e59;
  color: #ff946a;
  cursor: pointer;
  font-size: 16px;
  gap: 8px;
}

/* edit black */

.edit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  box-shadow: inset 0 0px 0px 0px rgba(255, 255, 255, 0.14), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.11), inset 0px 1px 4px 0px rgba(255, 255, 255, 0.4), inset 0px 2px 0px 0px rgba(0, 0, 0, 0.25);
  padding: 0 22px;
  height: 38px;
  background-color: var(--black);
  color: var(--white);
  cursor: pointer;
  font-size: 16px;
  gap: 8px;
}

/* hover */

.delete-button:hover,
.gradient-button:hover,
.button-3d:hover,
.edit-button:hover {
  transform: translateY(2px);
  filter: brightness(1.2);
}

/* buttons end */

/* utilities */

.gradient-text {
  background-image: linear-gradient(90deg, #ef7f09, #e75617);
  background-size: 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  width: fit-content;
}

.box-shadow-3d {
  border: 1px solid rgb(255 255 255 / 18%);
}

.card-bc-p20-br-15 {
  background-color: var(--black);
  padding: 20px;
  border-radius: 15px;
}

.clear-white {
  color: var(--clear-white);
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

/* utilities end */

/************* GENERAL END *************/

html,
body {
  overscroll-behavior: none;
}

main {
  padding-top: 65px;
}

/************* NAVBAR *************/

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--black);
  z-index: 1000;
}

/* Navbar desktop */
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 50px;
  height: 65px;
  border-bottom: 1px solid rgb(255 255 255 / 18%);
}

.logo-container a {
  display: flex;
  width: 180px;
}

.logo-container img {
  width: 100%;
}


#authBtnContainer {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}

/* Links */
.navlinks {
  display: flex;
  align-items: center;
  gap: 6px;
  text-decoration: none;
  color: #fff;
}

.navlinks span:hover {
  background-image: linear-gradient(90deg, #ef7f09, #e75617);
  background-size: 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

/* Burger button */
.burger {
  display: none;
  font-size: 28px;
  border: none;
  cursor: pointer;
}

/* Sidebar */
.sidebar {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
  height: calc(100dvh - 65px);
  background: linear-gradient(0deg, rgb(27, 14, 1) 0%, rgb(17, 17, 17) 100%);
  color: #fff;
  display: none;
  /* Cachée par défaut */
  flex-direction: column;
  padding: 20px;
  transition: all 0.3s ease;
}

.sidebar.active {
  display: flex;
  /* Devient visible */

}

.sidebar.active #authBtnContainerSidebar {
  justify-content: space-between;
  height: 100%;
  /* fallback */
  height: 100dvh;
  height: -webkit-fill-available;
  /* Safari / Chrome iOS */
}

.flex-sidebar {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sidebar .navlinks,
.sidebar .gradient-button {
  display: flex;
  align-items: center;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
}

.sidebar.active {
  border-left: 1px solid rgb(255 255 255 / 18%);
}

.sidebar-link i {
  width: 40px;
  height: 40px;
  background: #ef7f091c;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: .5rem;
  transition: background .3s, color .3s, border-color .3s;
  flex-shrink: 0;
  border: 1px solid var(--clear-whitev2);
  color: #ffd9b0;
}

.sidebar-link {
  display: flex;
  cursor: pointer;
  align-items: center;
  text-transform: uppercase;
  height: 40px;
  width: 100%;
  background: #ef7f090a;
  border-radius: .5rem;
  border-right: 2px solid #ef7f091c;
  gap: 15px;
  color: #ffd9b0;
  transition: background .3s, color .3s, border-color .3s;
}

/* Hover du lien */
.sidebar-link:hover {
  color: var(--white);
  ;
  border-color: #ef8009bc !important;
  background: #ef800921;
}

/* Hover de l'icône quand le lien est survolé */
.sidebar-link:hover i {
  background: #ef8009bc;
  color: var(--white);
  border-color: #ef8009;
}

/************* NAVBAR END *************/

/************* HOME *************/

.title-home {
  background-image: linear-gradient(to bottom,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.8)),
    url(../images/auto-ecole-stalindrive.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: calc(100dvh - 65px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.title-home-text {
  display: flex;
  flex-direction: column;
  gap: 18px;
  color: var(--white);
  width: 1100px;
  text-align: center;
}

.title-home-text h1 {
  font-size: 60px;
  line-height: 68px;
}

.title-home-text p {
  font-size: 20px;
}

.buttons-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.gap-8 {
  gap: 8px !important;
}

/************* HOME END *************/


/************* LOGIN *************/



.login-container {
  max-width: 510px;
  width: 100%;
  margin: auto;
}

.title h1 {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
}

.title p {
  font-size: 16px;
  padding-top: 10px;
}

.title p a {
  color: var(--white);
  cursor: pointer;
}

.title p a:hover {
  color: var(--orange);
}

/* form */

/* input */

.form-container {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.form-group-w-icon i {
  color: var(--white);
}

.form-group-w-icon input {
  background-color: var(--black);
  border: none;
  height: 38px;
  align-items: center;
  padding: 0 50px;
  border-radius: 8px;
  outline: 1px solid var(--clear-white);
  color: var(--white);
  width: 100%;
  font-size: 16px;
}

.form-group-w-icon input:focus {
  outline: 1px solid var(--orange);
}

.email input {
  padding: 0 12px 0 50px !important;
}

/* icon mail / password */

.form-group-w-icon .icon-input {
  font-size: 18px;
}

.form-group-w-icon .icon-input {
  display: flex;
  position: absolute;
  top: 28%;
  left: 18px;
}

/* icon mail / password */
/* eye */

#togglePassword {
  cursor: pointer;
  position: absolute;
  right: 18px;
  bottom: 26%;
}

.form-group-w-icon {
  position: relative;
}

/* eye end */

/* input end */

/* form end*/

/* social media */

/* separation w line */

.separation-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.line {
  height: 1px;
  background-color: rgba(244, 244, 244, 0.15);
  width: 22%;
  border-radius: 10px;
}

.separation-line h3 {
  font-size: 16px;
}

.separation-line {
  gap: 25px;
}

.w-30 {
  width: 30%;
}

.fs-20 {
  font-size: 20px;
}

/* logo social media */

.logo-social-media-box {
  display: flex;
  justify-content: space-between;
}

.logo-social-media-box a {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* social media end */


.forgot-password {
  font-weight: 400;
}

.max-w {
  max-width: 510px;
  width: 100%;
}

.receive-mail-container img {
  max-width: 220px;
  width: 100%;
}

.receive-mail-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: var(--clear-black);
}

.img-receive {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.receive-mail-container p {
  font-size: 14px;
}

/************* LOGIN END *************/

/************* ESPACE CLIENT *************/

.espace-client-container {
  display: flex;
  gap: 25px;
  justify-content: space-between;
}

.espace-client-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sub-title i {
  padding-right: 6px;
}

/* calendrier */
.calendar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: var(--black);
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  width: 100%;
  height: 100%;
}

.calendar .header-calender {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calendar .header-calender h2 {
  font-size: 18px;
}

.calendar .header-calender button {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.calendar .days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 12px;
  height: 100%;
}

.calendar .day {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  border-radius: 10px;
  cursor: pointer;
}

.calendar .day:hover {
  background: rgba(255, 255, 255, 0.1);
}

.calendar .day.active {
  background: var(--gradientv2);
  color: var(--black);
  font-weight: 500;
}

.calendar .weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-size: 12px;
  color: var(--clear-white);
}

/* calendrier */

.contact-espace-client {
  display: flex;
  justify-content: space-between;
}

.contact-espace-client div {
  width: 28%;
}

/* swipe cards client*/
.sessions-slider {
  display: flex;
  overflow-x: auto;
  /* autorise le scroll horizontal */
  scroll-behavior: smooth;
  gap: 1rem;
  /* espace entre les cartes */
  padding-bottom: 1rem;
  /* pour le scroll */
}

/* Chrome, Edge, Safari */
.sessions-slider::-webkit-scrollbar {
  height: 6px;
  /* hauteur de la scrollbar horizontale */
}

.sessions-slider::-webkit-scrollbar-track {
  background: rgba(239, 127, 9, 0.06);
  /* orange clair semi-transparent */
  border-radius: 3px;
  /* arrondi du track */
}

.sessions-slider::-webkit-scrollbar-thumb {
  background: #ef80095d;
  /* orange vif semi-transparent */
  border-radius: 3px;
  /* arrondi du thumb */
}

/* Firefox */
.sessions-slider {
  scrollbar-width: thin;
  scrollbar-color: #ef80095d rgba(239, 127, 9, 0.06);
  /* thumb et track */
}

/* Chaque card garde sa largeur */
.sessions-slider .card-bc-p20-br-15 {
  min-width: 250px;
  /* largeur minimale */
  flex-shrink: 0;
  /* empêche de rétrécir */
}

.sessions-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
}

.gestion-sessions {
  flex-direction: column;
}

.text p {
  padding-top: 8px;
}

/* si ya une sessions affichez sinon afficher le container no sessions */

.text-no-session {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 60%;
  color: var(--clear-white);
  font-style: italic;
}

.img-no-sessions {
  width: 40%;
  min-width: 200px;
}

.img-no-sessions img {
  width: 100%;
}

.no-sessions {
  flex-direction: row !important;
  align-items: center;
}

.text-no-session p {
  color: var(--clear-white);
}

/* profile */

.profile-info {
  display: flex;
  align-items: center;
  gap: 18px;
}

.profile-info .form-group {
  flex: 1;
}

.profile-container {
  max-width: 510px;
  width: 100%;
}

.password-wrapper {
  position: relative;
}

.password-wrapper input {
  padding: 0 50px 0 12px !important;
}

.password-wrapper #toggleNewPassword,
.password-wrapper #toggleConfirmPassword,
.password-wrapper #toggleModalOld,
.password-wrapper #toggleResetPassword,
.password-wrapper #toggleResetConfirm,
#toggleSetConfirm,
#toggleSetPassword {
  cursor: pointer;
  position: absolute;
  right: 18px;
  bottom: 15%;
}



.password-wrapper #toggleModalOld {
  bottom: 26% !important;
}

/************* ESPACE CLIENT END *************/

/************* ADMIN *************/

.crud-sessions {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 18px;
}

/* searchbar */

.form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formulaire {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 100%;
}

.form-group label {
  font-size: 16px;
  color: var(--white);
}

/* champs */
.form-group input,
.form-group select {
  width: 100%;
  padding: 0 12px;
  height: 38px;
  border-radius: 8px;
  border: none;
  background: var(--black);
  outline: 1px solid var(--clear-white);
  color: var(--white);
  font-size: 16px;
  -webkit-appearance: none;
  /* compatibilité iOS */
  -moz-appearance: none;
  appearance: none;
}

.form-group input:focus,
.form-group select:focus {
  outline: 1px solid var(--orange);
}

/* groupe heures */
.flex-group-card {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  /* mobile friendly */
}

.flex-group-card div {
  flex: 1;
  min-width: 120px;
  /* évite de trop compresser sur mobile */
}

.button-create {
  display: flex;
  justify-content: end;
}

.button-create button {
  display: flex;
  gap: 6px;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background: url("data:image/svg+xml;utf8,<svg fill='orange' height='24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>") no-repeat right 10px center;
  background-color: #111;
  /* ton fond */
  padding-right: 30px;
  border: 1px solid orange;
  color: white;
}

/* cards admin */
.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  box-sizing: border-box;
}

/* 1 seule card */
.cards-container:has(.card-admin:only-child) .card-admin {
  flex-basis: 100%;
  max-width: 100%;
}

/* 2 cartes */
.cards-container:has(.card-admin:nth-child(2)):not(:has(.card-admin:nth-child(3))) .card-admin {
  flex-basis: calc(50% - 10px);
  max-width: calc(50% - 10px);
}

/* 3 cartes */
.cards-container:has(.card-admin:nth-child(3)):not(:has(.card-admin:nth-child(4))) .card-admin {
  flex-basis: calc((100% / 3) - 13.33px);
  max-width: calc((100% / 3) - 13.33px);
}

/* 4 cartes */
.cards-container:has(.card-admin:nth-child(4)):not(:has(.card-admin:nth-child(5))) .card-admin {
  flex-basis: calc(50% - 10px);
  max-width: calc(50% - 10px);
}

/* 5 cartes */
.cards-container:has(.card-admin:nth-child(5)):not(:has(.card-admin:nth-child(6))) .card-admin {
  flex-basis: calc(50% - 10px);
  max-width: calc(50% - 10px);
}

/* 6 cartes */
.cards-container:has(.card-admin:nth-child(6)):not(:has(.card-admin:nth-child(7))) .card-admin {
  flex-basis: calc((100% / 3) - 13.33px);
  max-width: calc((100% / 3) - 13.33px);
}

/* 7 cartes */
.cards-container:has(.card-admin:nth-child(7)):not(:has(.card-admin:nth-child(8))) .card-admin {
  flex-basis: calc(50% - 10px);
  max-width: calc(50% - 10px);
}

/* 8 cartes et plus */
.cards-container:has(.card-admin:nth-child(8)) .card-admin {
  flex-basis: calc(50% - 10px);
  max-width: calc(50% - 10px);
}


.card-admin {
  display: flex;
  flex-direction: column;
  background-image: url(../images/ooorganize.svg),
    linear-gradient(0deg,
      var(--black) 0%,
      #111111b4 100%);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid rgb(255 255 255 / 18%);
  gap: 15px;
  padding: 15px;
  border-radius: 15px;
  cursor: pointer;
}

.card-admin:hover {
  transform: scale(1.01);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(255, 255, 255, 0.3) 0px 0px 0px 1px;
}

.card-admin h3 {
  background: rgba(244, 244, 244, 0.07);
  color: var(--white);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(255, 255, 255, 0.15) 0px 0px 0px 1px;
  display: flex;
  justify-content: center;
  top: 0;
  right: 0;
  width: fit-content;
  padding: 2px 22px;
}

.hours {
  display: flex;
  align-items: center;
  gap: 20px;
}

.actions-admin {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}

.actions-admin button {
  width: 100%;
  gap: 8px;
}

.flex-group-card.column {
  gap: 0px !important;
}

/* modal */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #1a1a1a;
  max-width: 339px;
  text-align: start;
  color: var(--white);
  border: 1px solid rgb(255 255 255 / 18%);
  padding: 20px;
  border-radius: 12px;
  max-width: 400px;
  width: 90%;
}

#modalText {
  font-size: 14px;
}

.modal-actions button {
  flex: 1;
}

/* loader */

#loader {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  justify-content: center;
  align-items: center;
}

#loader i {
  font-size: 60px;
}

/* ----------- USER DASHBOARD ----------- */

/* En-tête de page Utilisateurs */
.header-users {
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Tableau utilisateurs */
.users-table {
  width: 100%;
  border-collapse: collapse;
}

.users-table th,
.users-table td {
  padding: 10px 10px 10px 6px;
  border-bottom: 1px solid var(--clear-whitev2);
}

.users-table th {
  background: transparent;
  text-align: left;
  font-weight: 500;
}

.actions-col {
  width: 160px;
}

/* Texte vide */
.hidden {
  display: none;
}

/* Modal */

#modalOverlay {
  padding: 50px;
}

/* .user-dashboard {
  height: calc(85dvh - 65px);
} */

.table-wrap th {
  text-align: start;
}

.cards {
  display: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.table-wrap,
.cards {
  padding-top: 22px;
}

.card-actions {
  display: flex;
  justify-content: end;
  gap: 10px;
}

.card-actions button {
  width: 130px;
}

/* --- Badges rôle --- */
.badge {
  padding: 2px 10px;
  border-radius: 8px;
  font-weight: 400;
  font-size: 12px;
  text-transform: capitalize;
}

.role-user {
  background: var(--grey);
  color: var(--white);
}

.role-admin {
  background: var(--clear-gradient);
  color: var(--white);
}

/* --- Layout tableau --- */
.users-table-actions {
  display: flex;
  gap: 6px;
}

/* --- Layout carte utilisateur --- */

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-card-user-dashboard {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.user-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-card-email {
  font-size: 13px;
  color: var(--clear-white, #ccc);
}

.user-card-actions {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
}

.user-card-actions button {
  gap: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 135px;
}

.actions-row {
  display: flex;
  gap: 10px;
  align-items: center;
}

.actions-row button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 130px;
}

/* --- Modals (overlay + contenu) --- */
.modal-overlay {
  position: fixed;
  inset: 0;
  display: none;
  /* masqué par défaut */
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  padding-top: 10px;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.modal-actions {
  justify-content: flex-end;
  gap: 12px;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  /* inverse le noir en blanc */
  cursor: pointer;
}

/* dashboard home */


.dashboard-home-container {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 100%;
}

.stats-box,
.charts-box,
.next-box,
.quick-actions-link {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
}

.next-session-card li {
  padding: 5px 0;
}

.stats-card,
.next-box .card-admin,
.charts-box .card-admin,
.quick-actions a {
  flex: 1;
}

.stats-card {
  height: 200px;
  justify-content: space-between;
}

.stats-card p {
  display: flex;
  justify-content: end;
}


/************* ADMIN END *************/

/************* RESET PASSWORD *************/

/************* RESET PASSWORD *************/

/* Bloc validation mot de passe */
#resetMessage,
#message,
#resetMatchMessage {
  font-size: 14px;
}

/* Liste des critères */
.criteria-list {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.criteria-list li,
#resetMatchMessage {
  display: flex;
  align-items: center;
  gap: 6px;
  color: rgba(244, 244, 244, 0.8);
  /* couleur texte neutre */
}

/* Taille des icônes */
.criteria-list i,
#resetMatchMessage i {
  font-size: 18px;
}

/* Critère validé : gradient sur l'icône seulement */
.criteria-list li.valid i,
.match-mdp {
  background-image: linear-gradient(90deg, #ef7f09, #e75617);
  background-size: 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

/* Critère non-validé : gris neutre sur l'icône */
.criteria-list li.invalid i {
  color: #ccc;
}

/************* RESET PASSWORD END *************/

/************* 404 END *************/

.error-404-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 22px;
  align-items: center;
  max-width: 850px;
  text-align: center;
}

.error-404-container h1 {
  font-size: 200px;
  height: 200px;
  display: flex;
  align-items: center;
}

.text-error-404 p {
  padding-top: 5px;
  color: var(--clear-white);
}

/************* 404 END *************/

/************* FOOTER *************/

.top-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 28px;
}

.container-footer {
  padding: 25px 50px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(255, 255, 255, 0.15) 0px 0px 0px 1px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ecoles-container-footer {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
  gap: 28px;
}

.ecole-footer {
  width: calc(25% - 28px);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.ecole-footer ul li {
  font-size: 14px;
}

.ecole-footer p {
  font-size: 16px;
}

.ecole-footer h4 {
  font-size: 18px;
}

.ecole-footer ul li {
  font-size: 16px;
}

.ecole-footer ul li,
.ecole-footer p {
  color: var(--clear-white);
}

.social-copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  display: flex;
  font-size: 14px;
  gap: 5px;
}

.copyright p {
  color: var(--clear-white);
}

.link-footer a:hover {
  color: var(--orange);
}

.link-footer {
  display: flex;
  gap: 8px;
}


/************* FOOTER END *************/

/************* RESPONSIVE *************/

/* ≤ 1300px — grand écran */
@media (max-width: 1300px) {

  /* no sessions */
  .text-no-session p {
    font-size: 14px;
  }

}

/* ≤ 1200px — laptop standard */
@media (max-width: 1200px) {

  /* footer */
  .ecole-footer {
    width: calc(50% - 28px);
  }

  .social-copyright {
    align-items: start;
    flex-direction: column;
    gap: 15px;
  }

  /* espace client */
  .espace-client-container {
    flex-direction: column;
  }

  .espace-client-container .w-50 {
    width: 100% !important;
  }

  .social-espace-client {
    flex-direction: column;
    gap: 20px;
  }

  .contact-espace-client.contact-espace-client div {
    width: 100%;
  }

  .sub-title h2 {
    font-size: 22px;
  }

  .text p {
    font-size: 14px;
  }

}

/* Tablette : max 2 colonnes */
@media (max-width: 1199px) and (min-width: 851px) {
  .cards-container>.card-admin {
    flex: 0 0 calc((100% - var(--cards-gap)) / 2);
  }

  /* EXACTEMENT 3 cards → 2 x 50% + 1 x 100% */
  .cards-container>.card-admin:first-child:nth-last-child(3),
  .cards-container>.card-admin:first-child:nth-last-child(3)~.card-admin {
    flex: 0 0 calc((100% - var(--cards-gap)) / 2);
  }

  .cards-container>.card-admin:nth-child(3):last-child {
    flex-basis: 100%;
  }
}

/* ≤ 1050px — user dashboard */
@media (max-width: 1050px) {

  .cards {
    display: flex;
  }

  .table-wrap {
    display: none;
  }

  .profile-info {
    flex-direction: column;
  }

  .profile-info .form-group {
    width: 100%;
  }

}

/* ≤ 992px — tablette paysage / petit laptop */
@media (max-width: 992px) {

  /* login */
  .title h1 {
    font-size: 22px;
  }

  .title {
    text-align: start;
  }

  .line {
    width: 15%;
  }

  .separation-line {
    gap: 10px;
  }

  /* home */

  .title-home-text h1 {
    font-size: 40px;
    line-height: 55px;
  }

  /* footer */
  .copyright {
    flex-direction: column;
  }
}

/* Mobile : 1 colonne */
@media (max-width: 850px) {
  .cards-container>.card-admin {
    flex-basis: 100% !important;
  }

  /* footer */
  .top-footer {
    align-items: start;
    gap: 16px;
    flex-direction: column;
  }

  .ecole-footer {
    width: calc(100% - 28px);
  }

  .card-admin {
    flex-basis: 100% !important;
    max-width: 100% !important;
  }

  .stats-card {
    height: 120px;
  }
}

/* ≤ 768px — tablette portrait */
@media (max-width: 768px) {
  .sub-title h2 {
    font-size: 18px;
  }

  .flex-group-card {
    flex-direction: column;
  }

  .title h1 {
    font-size: 18px;
  }

  .form-group-w-icon {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  .w-fc {
    width: 100%;
  }

  /* navbar */

  #authBtnContainer {
    display: none;
  }

  .burger {
    display: flex;
  }

  #authBtnContainerSidebar {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  /* general */
  .content-background-pattern {
    padding: 20px;
  }

  /* navbar */

  .navbar-container {
    padding: 8px 20px;
  }

  .logo-container a {
    width: 135px;
  }

  /* home */
  .buttons-actions {
    flex-direction: column;
  }

  .title-home-text p {
    font-size: 18px;
  }

  .buttons-actions a {
    width: 100% !important;
  }

  .title-home-text h1 {
    font-size: 20px;
    line-height: 36px;
  }

  .title-home-text {
    text-align: start;
  }

  /* footer */
  .link-footer {
    flex-direction: column;
  }

  .link-footer p {
    display: none;
  }

  /* no session */

  .no-sessions {
    flex-direction: column-reverse !important;
    align-items: start;
  }

  .formulaire {
    height: fit-content;
  }

  .text-no-session {
    width: 100%;
  }

  /* button */

  .button-3d span {
    display: none;
    /* cache le texte */
  }

  /* user dashboard */

  .header-users {
    gap: 8px;
    padding-bottom: 0px;

  }

  .header-users h1,
  .dashboard-home-container h1 {
    font-size: 20px;
  }


  .flex-group-card.column {
    gap: 12px !important;
  }


  .mentions-politique h1 {
    font-size: 25px;
  }
}

/* ≤ 576px — petit mobile grand écran */
@media (max-width: 576px) {
  .error-404-container h1 {
    font-size: 100px;
    height: 100px;
  }

  .text-error-404 p {
    font-size: 14px;
  }

  /*  user dashboard */
  .button-create {
    width: 100%;
  }

  .button-create button {
    width: 100%;
  }

  .header-users {
    flex-direction: column;
    align-items: start;
  }
}

/* ≤ 480px — petit mobile paysage */
@media (max-width: 480px) {

  #modalOverlay {
    padding: 20px;
  }

  .user-card-actions button {
    width: 50%;
  }

  /* home */
  .title-home {
    padding: 20px;
  }

  .height-32 {
    height: 32px !important;
    padding: 0 16px;
  }

  /* footer */

  .container-footer {
    padding: 25px;
  }

  .login-container,
  .profile-container {
    width: 100% !important;
  }

  .title h1 {
    font-size: 18px;
  }

  .title p {
    padding-top: 5px;
  }

  .gradient-button {
    height: 40px;
  }

  /* login */
  .container {
    margin: 0;
    padding: 20px;
    gap: 20px;
  }

  .form-group input {
    height: 38px;
  }

  /* admin */
  .hours {
    display: contents;
  }

  .quick-actions-link {
    flex-direction: column;
  }

  .quick-actions a {
    flex: auto;
  }

  .title h1 i {
    display: none;
  }

  /* .actions-admin {
    flex-direction: column;
  } */
  .delete-button p,
  .edit-button p {
    display: none;
  }

  .card-admin h3 {
    font-size: 16px;
  }

  /* no sessions */

  .img-no-sessions {
    width: 100%;
  }

  .mentions-politique h1 {
    font-size: 20px;
  }
}

/* ≤ 380px — très petit mobile */
@media (max-width: 380px) {

  .calendar .days {
    gap: 8px;
    font-size: 10px;
  }

  .weekdays {
    font-size: 10px;
  }

  .calendar .header-calender h2 {
    font-size: 16px;
  }

  .calendar {
    gap: 12px;
  }

  .buttons-actions a {
    font-size: 14px !important;
  }

  .sidebar {
    width: 100%;
  }

  .sidebar.active {
    border-left: none;
  }
}

/************* RESPONSIVE END *************/

/* À partir de 851px jusqu’à 1250px : 3 cartes => 2 en haut (50%), 1 en bas (100%) */
@media (max-width: 1250px) and (min-width: 851px) {
  .cards-container:has(.card-admin:nth-child(3)):not(:has(.card-admin:nth-child(4))) .card-admin {
    flex-basis: 100%;
    max-width: 100%;
  }

  .cards-container:has(.card-admin:nth-child(3)):not(:has(.card-admin:nth-child(4))) .card-admin:nth-child(-n + 2) {
    flex-basis: calc(50% - 15px);
    max-width: calc(50% - 15px);
  }
}