# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Logs
logs
*.log
*.tmp

# Environnements
.env
.env.local
.env.*.local

# Système
.DS_Store
Thumbs.db

# Build (si jamais tu fais du React/Vite plus tard)
dist/
build/

# IDE
.vscode/
.idea/

# Ignorer les backups MySQL
backups/

# Others
coverage/